{% extends "layouts/layout1.html" %}
{% load i18n %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block title %}{% trans "Учетная запись активирована" %}{% endblock %}

{% block container %}
<div class="row">
	<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 well center-block none-float">
		<h3>{% trans "Учетная запись активирована!" %}</h3>
		<p>{% trans "Вы успешно авторизовались" %}</p>
		<p><a href="{% url "index" %}">{% trans "Перейти на главную" %}</a>.</p>
	</div>
</div>
{% endblock %}

