{% extends "layouts/layout1.html" %}
{% load i18n %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block title %}{{ error_title }}{% endblock %}

{% block container %}
<div class="row">
	<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 well center-block none-float">
		<h3 class="error"><span class="glyphicon glyphicon-remove"></span>&nbsp;{{ error_title }}</h3>
		<p>
			{{ error_description }}
		</p>
		<p><a href="{% url "index" %}">{% trans "Перейти на главную" %}</a>.</p>
	</div>
</div>
{% endblock %}

