{% extends "layouts/layout1.html" %}
{% load i18n %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block title %}{% trans "Регистрация" %}{% endblock %}

{% block styles %}
{% endblock %}

{% block container %}
	<div class="row">
		<div class="well col-xs-12 col-sm-10 col-md-8 col-lg-7 center-block none-float">
			<form action="{% url "accounts:registration" %}" method="POST" class="form-horizontal">
				{% csrf_token %}
				{{ form.non_field_errors }}
				<fieldset>
					<legend>
						<span class="glyphicon glyphicon-user"></span>&nbsp;{% trans "Форма регистрации" %}
					</legend>
					<div class="form-group">
						{{ form.username.errors }}
						<label for="{{ form.username.id_for_label }}" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 control-label">
							<sup class="require">*</sup>{% trans "Имя пользователя" %}
						</label>
						<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
							{{ form.username }}
						</div>
					</div>
					<div class="form-group">
						{{ form.email.errors }}
						<label for="{{ form.email.id_for_label }}" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 control-label">
							<sup class="require">*</sup>E-mail
						</label>
						<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
							{{ form.email }}
						</div>
					</div>
					<div class="form-group">
						{{ form.password1.errors }}
						<label for="{{ form.password1.id_for_label }}" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 control-label">
							<sup class="require">*</sup>{% trans "Пароль" %}
						</label>
						<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
							{{ form.password1 }}
						</div>
					</div>
					<div class="form-group">
						{{ form.password2.errors }}
						<label for="{{ form.password2.id_for_label }}" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 control-label">
							<sup class="require">*</sup>{% trans "Подтверждение пароля" %}
						</label>
						<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
							{{ form.password2 }}
						</div>
					</div>
					<div class="hidden-xs form-group">
						<div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-4 col-lg-8 col-lg-offset-4">
							<button type="submit" class="btn btn-primary">
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;{% trans "Зарегистрироваться" %}
							</button>&nbsp;&nbsp;&nbsp;
							<a href="{% url "index" %}" role="button" class="btn btn-default">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;{% trans "Отмена" %}
							</a>
						</div>
					</div>
					<div class="visible-xs form-group">
						<div class="col-xs-12">
							<button type="submit" class="btn btn-primary col-xs-12">
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;{% trans "Зарегистрироваться" %}
							</button>
							<div class="clearfix"></div><br/>
							<a href="{% url "index" %}" role="button" class="btn btn-default col-xs-12">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;{% trans "Отмена" %}
							</a>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
{% endblock %}

{% block scripts %}
{% endblock %}
